.App {
    text-align: left;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  .huo{
    margin-left:-5%;
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .mm{
    width:190%;
  }
  .bb{
    margin-right:-60%;
  }
  .mn{
    position:relative;
    left:70%;
  }
  .zs{
    font-weight:600;
  }
 
  .ghj{
    margin-right:-45%;
    width:200%;
  }
  .xd{
    margin:auto 4%;;
    text-align:left;
  }
  .xdd{
    margin:auto -10% auto 4%;
    text-align:left;
  }
  /* .xc{
    position:relative;
    left:550%;
  } */
  .ee{
    margin-left:70%;
  }
  .mmn{
    position:relative;
    left:50%;
    margin-right:3%;
  }
  .fdr{
   position:relative;
   left:50%;
  }
  .bbv{
    width:70%;
    position:relative;
    right:5%;
    /* margin-right:3%; */
  }
  .bv{
    margin-left:10%;
    /* margin-right:3%; */
    /* margin-right:-15%; */
    position:relative;
    right:15%;
  }
  .ser{
    position:relative;
    bottom:10%;
   
  }
  .xv{
    margin-right:30%;
    width:95%;
    /* margin-left:56%; */
    
  }


  /* .zx{
    margin-right:80%;
  } */
  .serv1
  {
    padding-left:10px;
    padding-right:10px;
    width:50%;
    margin:0% 5%;
    color: #000;
  
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.16px;
  }
  
  .serv2{
  position:absolute;
  left:61%;
  top:230px;
  margin-right:5%;
  /* margin-bottom:480%; */
  color: #000;
  
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.16px;
  }
  
  .serv3{
    color: var(--p-v20, #8AA6AA);
  
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.26px;
  }
  .serv4
  {
    background: var(--p-v20, #8AA6AA);
    width: 28px;
  height: 7px;
  
  }
  .serv5{
    width:60%;
    
  }

  @media only screen and (max-width: 921px) {
.cvf{
  position:absolute;
  display:none;
}

  }

  @media only screen and (max-width: 1221px) {

.fdr{
  position:absolute;
  display:none;
}
  }
  @media only screen and (min-width: 1321px) {
    .df{
      height:55%;
      
      position:relative;
      bottom:10px;
      margin-left:20%;
      margin-right:-20%;
     
    
    }
    .pok{
      margin-top:19%;
    }
    .cgh{
      position:relative;
      top:-200%;
    }
    .as{
      margin-bottom:-10%;
    }
   
  .serv7{
    width:235%;
    margin-bottom:15%;
    margin-left:-35%;
    margin-right:-190%;
  }
  .bh{
    margin-left:-35%;
    margin-right:-190%;
  }
}
@media only screen and (min-width: 1150px) and (max-width:1320px){
  .serv7{
    width:75%;
    margin-top:5%;
    margin-left:20%;
    /* margin-right:-190%; */
  }
  .bh{
    margin-left:45%;
    margin-top:5%;
    margin-right:-25%;
    /* margin-right:-190%; */
  }
  .fui{
    position:relative;
    left:-75%;
  }
  .df{
    height:20%;
    margin-top:700px;
    margin-left:2%;
    margin-right:2%;
   
  
  }
}
@media only screen and (min-width: 1150px) and (max-width:1329px){
  .serv7{
    width:75%;
    margin-top:5%;
    margin-left:120%;
    /* margin-right:-190%; */
  }
 

  .dffp{
    position:absolute;
    display:none;
  }
}
@media only screen (max-width: 749px) {
  .dffp{
    position:absolute;
    display:none;
  }
  .xd{
    text-align:left;
  }
  .fgi{
    margin-left:-10%;
  }
}

.df{
  height:20%;
  margin-top:480px;
  margin-left:3%;
  margin-right:-2%;
 

}

@media only screen (min-width: 750px) and (max-width: 1249px) {
.gh{
  margin-left:-1000px;
  margin-top:100px;
}
.bh{
  margin-left:320px;
  margin-right:-380px;
  margin-top:300px;
  margin-right:-190%;
}
}
@media only screen (min-width: 750px) and (max-width: 1049px) {
  .serv7{
    width:380px;
    margin-top:300px;
    margin-left:320px; 
    margin-right:-430px; 
     margin-right:-190%;
  }

  .dffp{
    position:absolute;
    display:none;
  }
}
  .vb{
    text-align:left;
    justify-content:center;
  }

  .dff{
    height:5%;
    margin-top:2px;
    margin-left:2%;
    margin-right:2%;
    position:relative;
    left:100%;
  }
  .as{
    height:90%;
    margin-top:7%;
    margin-left:1%;
    margin-right:2%;
    margin-bottom:20%;
    position:relative;
    bottom:-20%;
    left:-280px;
  }
  .ase{
    height:25%;
    margin-top:230px;
    margin-left:2%;
    margin-right:2%;
    position:relative;
    left:10%;
  }
  .vf{
    height:10%;
  }
  .vbb{
    text-align:left;
    justify-content:center;
    margin:0 2% 0 8%;
  }
  .serv8{
    position:absolute;
    left:61%;
    top:55vh;
  }
  .serv9{
    position:absolute;
    left:58%;
    top:1300px;
  }
  .serv11{
    position:absolute;
    left:61%;
    top:1750px;
    width:35%;
  }
  .serv10{
    position:absolute;
    /* margin-left:-3%; */
    top:1750px;
    width:50%;
  }
  .serv19{
    margin-bottom:40%;
  }
  .serv23{
    position:relative;
    top:200px;
  }
  .serv15{
    position:absolute;
    left:95%;
    top:50px;
  }
  .serv17{
    position:absolute;
    top:525%;
    left:95%;
    width:50%;
  }
  /* .zz{
   margin-top :40%;
   margin-left:6%;
  } */
  .serv18{
    position:absolute;
    left:5%;
  }

  @media only screen and (max-width: 1320px) {
.ghj{
  position:absolute;
  display:none;
}
.as{
  position:absolute;
  display:none;
}
.zz{
  position:absolute;
  display:none;
}
  }

  @media only screen and (max-width: 900px) {
    .qwer{
      position:absolute;
      display:none;
    }
    .serv2{
      position:absolute;
      display:none;
      text-align:left;
    }
    .hgf{
      margin-right:-70%;
    }
  
 
  
      }
 
      @media only screen (min-width:580px) and (max-width: 1338px) {

   .nnnn{
    position:absolute;
    display:hidden;
   }
   .df{
    position:absolute;
    display:none;
   }
   
      }


      @media only screen and (max-width: 1280px) {
      /* .df{
        margin-left:30%;
        margin-top:50%;
       } */
     
       
        .xc{
          position:relative;
          left:250%;
        }
        
      }
.gghh{
  margin-right:-25%;
}
      @media only screen and (max-width: 800px) {
        .gghh{
          margin:0 -20%;
          position:relative;
          left:20%;
         }
         .hhjj{
          text-align:left;
         }
         .sdd{
          margin-right:-40%;
         }
         .mmn{
          position:absolute;
          display:none;
         }
         .bbv{
          position:absolute;
          display:none;
         }
         .bv{
          margin-left:40%;
         }
        
         .dff{
          position:absolute;
          display:none;
         }
         .hj{
          margin-right:-80%;
         }
         .hdfc{
          margin-right:-300%;
          margin-left:-20%;
          text-align:left;
         }
         .ase{
          position:absolute;
          display:none;
         }
      }


      @media only screen and (min-width:1300px) {
      .xc{
        position:relative;
        left:35%;
        margin-right:-30%;
      }
    }
    @media only screen and (min-width:900px) {
    .hdfc{
      margin-left:-250%;
      position:relative;
      left:180%;
    }
    .hhk{
      position:relative;
      left:30%;
    }
    .oo{
      position:relative;
      margin:0 20% 3% 25%;
      text-align:center;
    }
  }
  @media only screen and (min-width:750px) {
    .hdfc{
      margin-left:-150%;
      margin-right:-150%;
      position:relative;
      left:130%;
    }
  }
  @media only screen and (min-width:1150px) {
    .hdfc{
      margin-left:-150%;
      margin-right:-50%;
      position:relative;
      left:130%;
    }
  }
  @media only screen and (min-width:901px) {
   .fui{
    margin-right:10%;
   }
  }
  @media only screen and (max-width:551px) {
    .fui{
     margin-right:-80%;
    }
   }
  
