.jk{
  background-size:cover;
 background-repeat:repeat-x; 

 
}

.dd{
  text-align:left;
}
/* Add this CSS to your existing stylesheet */

.scrollable-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  max-width: 100%; /* Adjust the max-width as needed */
}

.opp{
  height:70%;
  margin-bottom:-10%;
  /* margin-top:10%; */
  
}
.lp{
  /* margin-top:90px; */
  margin:auto;
  height:90%;

}
.nml{
height:200%;
}
/* Add this CSS to your existing stylesheet */

/* Add this CSS to your existing stylesheet */

/* Default styles for larger screens */
.lp {
  display: flex;


  overflow-x: auto; /* Enable horizontal scroll */
}
.lp > div {
  flex-shrink: 0; /* Prevent items from shrinking too much */
}
@media only screen and (max-width: 767px) {

.lp{
  margin-top:20%;
}
/* @media only screen (min-width:767 px){

  .cfr{
    position:relative;
    top:-15%;
    
    }

} */
@media only screen (min-width:490 px) and (max-width: 527px) {
.cfr{
  margin-top:15%;
position:relative;
top:-5%;

}
.opp{
  position:relative;
  top:20%;
}
.gtu{
margin-bottom:-50%;
 
}

}
@media only screen and (max-width: 491px) {
  .cfr{
  position:relative;
  top:15px;
 /* left:-70px; */
 margin-left:-34%;
  }
  
  }
}

.gtu{
  height:500px;
}
/* Media query for screens with a maximum width of 767px */
@media only screen and (max-width: 767px) {
 


  .lplpp
  {
    margin-top:80%;
    
  }
  .pot{
    margin-left:-2%;
  }
}
.pot{
  
}

/* Add this to your existing styles */
.animated-number {
  opacity: 0;
  transform: translateY(20px); /* Adjust the initial position as needed */
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.vfv{
  height:90%;
  
}
.animated-number.visible {
  opacity: 1;
  transform: translateY(0);
}


@media (min-width: 769px) {

.kk{
  margin:3% auto;
}
}

@media (min-width: 968px) {
.mm{
 /* width:90%; */
 color: var(--text, #111);
 font-family: Clash Display;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 135.2%; /* 24.336px */
}
}


@media (max-width: 340px) {
  .frty{
    position:absolute;
   display:none;
   
  } 
.hhj{
  margin-top:-80%;
}
}



@media (max-width: 967px) {
  .mm{
   /* width:90%; */
   color: var(--text, #111);
   font-family: Clash Display;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 135.2%; /* 24.336px */
   margin-right:-5%;
  }
  }
.xdf{
  height:70%;
}
.gggg{
  margin-top:-10%;
}

.fg{
  position:relative;
  left:6px;
}
@media (min-width: 750px) and (max-width:950px) {
.jjjjj{
height:15%;
width:15%;
margin-left:-20%;
}




}
@media (min-width: 580px) and (max-width:900px) {

.ll{
  margin-right:40%;
}
.ty{
  position:relative;
  left:-30%;
}

}

@media (min-width: 968px) {
.cvfg{
  position:absolute;
  left:65%;
   
  /* top:-1%; */
  z-index:-2;
  opacity:0.3;
}
}

@media (max-width: 967px) {


.dfdf{
  margin-bottom:10%;
}

}
@media (max-width: 767px) {

.bbb{
  position:relative;
  
  
}

}
@media (max-width: 1167px) {

.dfdf{
  position:absolute;
  display:none;
  margin-bottom:-20%;
  
}
}
@media (max-width: 967px) {
  .cvfg{
    position:absolute;
    display:none;
  }

  .jjjjj{
    position:relative;
    left:27%;
    margin-left:10%;
  }
 
  .gggg{
    margin-top:-10%;
  }
  }
.se{
  position:relative;
  /* margin-top:280%; */
  top:73%;
  left:3%; 
  /* display:flex; */
}
.sse{
  position:absolute;
  /* margin-top:280%; */
  top:73%;
  left:28%; 
}
.ssse{
  position:absolute;
  /* margin-top:280%; */
  top:73%;
  left:52%; 
}
.wer{
  color: rgba(234, 234, 234, 0.50);
font-family: Clash Display;
font-size: 120px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.as{
  position:relative;
  left:-300%;
}
.vvv{
  position:relative;
  left:50%;
}
/* @media (max-width: 1068px) {
  .se{
    position:absolute;
    /* margin-top:280%; */
    /* top:73%;
    left:17%;  */
    /* display:flex; */
  /* }
  .sse{
    position:absolute;
    /* margin-top:280%; */
 

    

.vb{
 text-align:center;
}
.ui{
 background-image:url('./ws.png');
}
.nn{
 background:cover;
 background-repeat:repeat-x; 
}
@media (max-width: 800px) {
 /* .nn {
 background:white ;
 } */
 .ll{
  margin-right:-5%;
 }
 .awsw{
  margin:4%;
  /* margin-left:30%; */
 }

}.
.ll{
 margin-right:175%;
 
}

.io{
width:120%;
/* margin:auto; */
/* margin-left:0%; */
align-items:left;
justify-content:left;
image:cover;
margin-left:-10%;

}
.uuu{
  width:30%;
  /* position:relative;
  right:-20%; */
}
/* src/ResponsiveColumnsToRows.css */

.container {
 display: flex;
 flex-wrap: wrap;
}

.column {
 flex: 1;
 padding: 10px;
 text-align: center;
 margin: 5px;
 box-sizing: border-box;
}

@media (max-width: 768px) {
 .container {
   flex-direction: column;
   height:auto;
 }
 .pot{
  margin-top:8%;
  margin-bottom:-48%;
 }
 .ggg{
  margin:0 -10%;
 }
 /* .ddd{
  margin-right:-40%;
 } */
.aws{
  /* margin-right:-5%; */
  margin: 0 -3%;
}
.pp{
  text-align:left;
  margin:6% 0%;
}
 .column {
   flex: none;
   width: 100%;
 }
 .jkhj{
  display:flex;
  flex-direction:column;
}
}

.hrt{
  margin-right:80%;
}
.faq-container {
 max-width: 800px;
 margin: 0 auto;
 padding: 20px;
 background-color: #fff;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.okl{
  margin-left:70%;
}
.faq-item {
 margin-bottom: 15px;
 cursor: pointer;
}

.question {
 position: relative;
 padding-left: 30px;
 font-weight: bold;
}

.vertical-bar {
 position: absolute;
 left: 0;
 top: 0;
 bottom: 0;
 width: 2px;
 background-color: #333;
 transition: background-color 0.3s; 
} 

.question {
 position: relative;
 padding-left: 30px;
 font-weight: bold;
}
@media (min-width: 768px) {
.jkhj{
  display:flex;
  flex-direction:row;
}
}
.vertical-bar-container {
 position: absolute;
 left: 0;
 top: 0;
 bottom: 0;
 width: 2px;
 background-color: #333;
 transition: background-color 0.3s;

}

.question.active .vertical-bar {
 
 background-color: #8AA6AA; /* Change the background color of the vertical bar to blue when active */
}
.jk{
background-repeat:repeat-y;
}





.question.active + .answer {
 /* display: block; */
 padding-left: 30px; /* Adjust the padding to match the vertical bar */
}


.answer {
 
 padding-left: 20px;
}
.cv{
margin-right:-20%;
text-align: left;
}
/* .aws{
  margin-top:-2%;
  margin-left:-2%;
} */
/* .answer.show {
 display: block;
} */
.sd{
  text-align:left;
  margin-left:-60%;
  /* position:fixed; */
  /* margin-top:-90%; */
  /* top:-30%;
  bottom:80%; */
  /* left:60%; */
  /* right:10%;
  left:60%; */
  vertical-align: top;
  display:inline-block;

} 
.df{
  display:inline-block;
  margin-right:80%;
  
  /* margin-top:-%; */
}
.qa{
  display: flex; 
   justify-content: space-between;
   
}
/* .qaz{
  margin-top:-500%;
} */

@media (min-width: 639px) and (max-width: 1150px)  {

  .jklk{
    position:absolute;
    display:none;
  }
 .cvfg{
  position:absolute;
  display:none;
 }
}


@media (min-width: 750px) and (max-width: 920px)  {
.hf{
  font-size:15px;
}

}

@media (max-width: 750px) {

  .uo{
  margin-right:5%;
  width:50%;
  margin-left:2%;
  }
  .aws{
    margin-right:5%;
    
    margin-left:1%;
    width:55%;
  }
}
@media (min-width: 901px) {

  .uo{
    margin-right:5%;
    width:90%;
    }


}
@media (max-width: 1100px) {

  .uo{
  margin-right:15%;
  width:30%;
  }
  /* .uo{
    margin-right:-5%;
    width:70%;
    } */
    .aws{
      margin-right:-5%;
      
    }
}
@media (max-width: 390px){
  .fgg{
    /* margin:0 -50%; */
    /* margin-left:10%; */
    margin-right:-50%;
    width:50%;
    /* position:absolute;
    left:-79%; */

  }

}
@media (max-width: 800px){
  .fgg{
    /* margin:0 -50%; */
    margin-left:40%;
    margin-right:40%;
    width:150%;
    position:absolute;
    left:-9%;

  }

}

